*.cache/*
.cache
*logs/
*project/project
*project/target
*project/metals.sbt
*target/*
*tmp/*
*.history/*
*.idea/*
*.iml
*/out
*.idea_modules
*.classpath
*.project
*RUNNING_PID
*.settings
*.class
*bin/
*.target/*
*.diff
*.log
*.worksheet*
*projectFilesBackup/*
*.cache-main
*.cache-tests
*.bloop*
*.metals*
*.bsp/*